.home {
  margin-top: 6rem;
  padding: 3rem;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 32px;
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      .sub-title {
        color: var(--pink);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
      .title {
        color: var(--accent-color1);
      }
      .description {
        color: var(--accent-color3);
      }
      button {
        color: var(--accent-color1);
        background-color: var(--background);
        font-weight: bold;
        padding: 1rem 3rem;
        border-radius: 2rem ;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, var(--pink), var(--orange));
        background-origin: border-box;
        background-clip: content-box,    border-box;
        box-shadow: 2px 1000px 1px var(--background) inset;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        &:hover {
          box-shadow: none;
        }
      }
    }
    .image-container {
      position: relative;
      text-align: center;
      .image img {
        width: 400px;
        max-width: 100%;
      }
      .ellipse-container {
        .ellipse {
          position: absolute;
          height: 15rem;
          width: 15rem;
          filter: blur(100px);
          z-index: -1;
        }
        .pink {
          top: 40%;
          right: 40%;
          background-color: var(--pink);
        }
        .orange {
          bottom: 40%;
          left: 40%;
          background-color: var(--orange);
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .home {
    height: auto;
    padding: 1.5rem;
    margin-top: 2rem;
    .container {
      grid-template-columns: 1fr;
      text-align: center;
      font-size: 18px;
      .content {
        align-items: center;
      }
      .image-container {
        margin-top: 2rem;

        position: static;
        .image img {
          width: 60%;
        }
        .ellipse-container {
          display: none;
        }
      }
    }
  }
}
