.footer {
  padding: 6rem;
  background: linear-gradient(
    to top,
    rgba(5, 5, 15, 0.95),
    rgba(5, 5, 15, 0.85)
  );
  color: var( --text-secondary);
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
    align-items: flex-start;
  }
  .footer-brand {
    h3 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    p {
      color: var(--text-secondary);
      line-height: 1.6;
      max-width: 360px;
    }
  }
  .footer-links {
    h4 {
      margin-bottom: 1rem;
      font-size: 1.1rem;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      li {
        color: var(--text-secondary);
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          color: var(--pink);
        }
      }

    }

  }
  .footer-bottom {
    margin-top: 3rem;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0);
    padding-top: 1.5rem;
    font-size: 0.9rem;
    color: var(--accent-color3);
  }
}
@media screen and (max-width: 1080px) {
  .footer {
    padding: 3rem 1rem 2rem;

    .container {
      grid-template-columns: 1fr;
      text-align: center ;
      gap: 2.5rem;
    }
    .footer-brand p {
      margin: 0 auto;
    }
  }
}
