:root {
  --hogwarts-red: #740001;
  --hogwarts-gold: #d3a625;
  --parchment: #f0e6d2;
  --dark-text: #372e29;
  --light-text: #f5f5dc;
}
[data-theme="dark"],
body[data-theme="dark"],
html[data-theme="dark"] {
  --background: #0b0b0b;
  --background-secondary: #1a1a1a;
  --text-primary: var(--light-text);
  --text-secondary: var(--hogwarts-gold);
  --accent-color1: var(--hogwarts-gold);
  --accent-color2: var(--hogwarts-red);
  --accent-color3: #e0e0e0;
  --pink: var(--hogwarts-red);
  --orange: var(--hogwarts-gold);
  --border-color: #333;
}

html[data-theme="light"],
html[data-theme="light"] body,
body[data-theme="light"],
[data-theme="light"] {
  --background: var(--parchment);
  --background-secondary: #e6dcc3;
  --text-primary: var(--dark-text);
  --text-secondary: var(--hogwarts-red);
  --accent-color1: var(--hogwarts-red);
  --accent-color2: var(--hogwarts-gold);
  --accent-color3: #5c5858;
  --pink: var(--hogwarts-red);
  --orange: var(--hogwarts-gold);
  --border-color: var(--hogwarts-red);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: sans-serif;
  transition: background-color 0.4s ease, color 0.3s ease;
}

.app-container {
  min-height: 100vh;
  
  color: var(--text-primary);
  transition: background-color 0.4s ease, color 0.3s ease;
}
body.animation-complete {
  nav,
  .home {
    transform: none !important;
  }
}
