:root {
  --background: #0b0b0b;
  --background-secondary: #1a1a1a;
  --text-primary: #f5f5dc;
  --text-secondary: #ddd;
  --accent-color1: #c89b3c;
  --accent-color2: #e0b85a;
  --accent-color3:#f3ececbd;
  --pink: #ff6b9d;
  --orange: #ffa500;
  --border-color: #333;
}
[data-theme="dark"],
body[data-theme="dark"],
html[data-theme="dark"] {
  --background: #0b0b0b;
  --background-secondary: #5c58589e;
  --text-primary: #f5f5dc;
  --text-secondary: #ddd;
  --accent-color1: #c89b3c;
  --accent-color2: #e0b85a;
  --accent-color3: #f5f5dc;
  --pink: #ff6b9d;
  --orange: #ffa500;
  --border-color: #333;
}

html[data-theme="light"],
html[data-theme="light"] body,
body[data-theme="light"],
[data-theme="light"] {
  --background:#ff6b9d12;
  --background-secondary: #5c58589e;
  --text-primary: #0b0b0b;
  --text-secondary: #e2e0eb;
  --accent-color1: #8b6914;
  --accent-color2: #a67c00;
  --accent-color3: #333;
  --pink: #ff6b9d;
  --orange: #ffa500;
  --border-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: sans-serif;
  transition: background-color 0.4s ease, color 0.3s ease;
}

.app-container {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color 0.4s ease, color 0.3s ease;
}
body.animation-complete {
  nav,
  .home {
    transform: none !important;
  }
}
